<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Chilanka|Parisienne&display=swap" rel="stylesheet">
    <% if (process.env.APP_ENV && process.env.APP_ENV === 'production') { %>
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async defer
                src="https://www.googletagmanager.com/gtag/js?id=<%= process.env.GOOGLE_ANALYTICS %>"></script>
        <script>
            window.dataLayer = window.dataLayer || [];

            function gtag() {
                dataLayer.push(arguments);
            }

            gtag('js', new Date());
            gtag('config', '<%= process.env.GOOGLE_ANALYTICS %>');
        </script>
    <% } %>
</head>
<body>
<%= require('html-loader!../partials/navbar.ejs') %>
<div class="emotion">
    <div class="emotion__follower__one"></div>
    <div class="emotion__follower__two"></div>
    <!--<div class="emotion__follower__three"></div>-->
    <div class="emotion__follower__four"></div>
    <!-- <div class="emotion__follower__five"></div>-->
    <svg class="emotion__ways" version="1.1" viewBox="0 0 220 225"
         xmlns="http://www.w3.org/2000/svg" style="position: relative">
        <path class="emotion__ways__one"
              d="m-1 97c17-18 42-28 66-27 12 .5 23 3 35 6 12 2 23 4 35 2 13-2 25-8 36-15 11-7 22-15 33-20 4-2 9-4 13-5"
              fill="none" stroke="#fff" stroke-width="1px"/>
        <path class="emotion__ways__two" d="m-14 37c20-4 41-6 62-6 30 .06 60 5 91 6 24 .9 48-.5 70-10 9-4 17-8 24-14"
              fill="none" stroke="#fff"
              stroke-width="1px"/>
        <path class="emotion__ways__four" d="m-6 172c30-8 60-12 91-14 40-2 81 2 119-10 13-4 25-9 36-16" fill="none"
              stroke="#fff" stroke-width="1px"/>
        <path d="m-44 123c30-4 60-6 91-7 37-2 75-2 112-8 27-5 54-13 80-25" fill="none" stroke="#fff"
              stroke-width="1px"/>
    </svg>
</div>
<div class="box">
    <div class="box__top">
        <div class="box__content"></div>
    </div>
    <div class="box__middle box__middle--larger">
        <div class="box__content">
            <div class="row header-row">
                <div class="col-12 col-md-6 col-lg-6 col-xl-5">
                    <h3 class="header__description">
                        Olá, esse é o seu ponto de partida no mapa de estratégias que vamos construir juntos.
                    </h3>
                    <h5 class="header__about">
                        Bem-vindo ao site da Cartê Marketing, conte conosco na hora de traçar planos de comunicação
                        eficientes para seu negócio chegar onde deseja. <br>
                        Nosso jeito de trabalhar é bem simples: observação com conhecimento, estratégia bem definida,
                        plano de execução e constante reavaliação do trajeto.
                    </h5>
                    <div class="header__links">
                        <a class="header__links__action" href="#">Lorem.</a>
                        <a class="header__links__action" href="#">Lorem ipsum.</a>
                    </div>
                </div>
                <!--  offset-md-1 offset-lg-1 offset-xl-1 -->
                <div class="col-12 col-md-6 col-lg-6 col-xl-4">
                    <div class="egg">
                        <div class="egg__yolk"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="box__bottom">
        <div class="box__content">
            <%= require('html-loader!../partials/footer.ejs') %>
        </div>
    </div>
</div>
</body>
</html>
