<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Chilanka|Parisienne&display=swap" rel="stylesheet">
    <% if (process.env.APP_ENV && process.env.APP_ENV === 'production') { %>
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async defer
                src="https://www.googletagmanager.com/gtag/js?id=<%= process.env.GOOGLE_ANALYTICS %>"></script>
        <script>
            window.dataLayer = window.dataLayer || [];

            function gtag() {
                dataLayer.push(arguments);
            }

            gtag('js', new Date());
            gtag('config', '<%= process.env.GOOGLE_ANALYTICS %>');
        </script>
    <% } %>
</head>
<body>
<%= require('html-loader!../partials/navbar.ejs') %>
<div class="emotion">
    <div class="emotion__follower__one"></div>
    <div class="emotion__follower__two"></div>
    <!--<div class="emotion__follower__three"></div>-->
    <div class="emotion__follower__four"></div>
   <!-- <div class="emotion__follower__five"></div>-->
    <svg class="emotion__ways" version="1.1" viewBox="10 0 220.17 224.69"
         xmlns="http://www.w3.org/2000/svg" style="position: relative">
        <path class="emotion__ways__one"
              d="m17.455 224.58c-6.7468-4.2008-11.403-11.598-12.273-19.498-.86972-7.9 2.0656-16.133 7.7369-21.701 3.6697-3.6029 8.3165-6.0573 13.086-7.9808 4.7694-1.9236 9.721-3.3646 14.506-5.2483 8.9063-3.506 17.455-8.7853 22.797-16.727 4.5082-6.7022 6.4338-14.887 6.6853-22.96.26767-8.5932-1.2244-17.464 1.4818-25.624 1.2821-3.8661 3.4939-7.4243 6.4163-10.262 2.9224-2.8373 6.5521-4.946 10.473-6.048 4.9264-1.3844 10.148-1.174 15.25-.78016 5.102.39382 10.248.95891 15.316.2503 5.2523-.73439 10.248-2.8252 14.789-5.5661 4.5402-2.7409 8.6564-6.1259 12.642-9.625 6.7151-5.896 13.113-12.156 19.097-18.793 5.7936-6.4264 11.399-13.37 19.049-17.413 4.8766-2.5775 10.322-3.8264 15.622-5.3522 5.3006-1.5258 10.656-3.4298 14.831-7.0335 2.0735-1.7894 3.8092-3.969 5.0889-6.3905"
              fill="none" stroke="#fff" stroke-width=".26458px"/>
        <path class="emotion__ways__two"
              d="m17.455 224.58c8.6484-9.8626 18.882-18.332 30.189-24.983 6.7039-3.9437 13.79-7.259 20.184-11.687 9.0354-6.2579 16.723-15.029 19.737-25.598 1.9985-7.0088 1.8422-14.636-.565-21.515-2.7137-7.7551-8.0842-14.279-11.62-21.696-2.9666-6.2226-4.6222-13.219-3.7123-20.053.92546-6.9504 4.4645-13.376 9.1612-18.583 4.1399-4.589 9.1433-8.2966 14.029-12.082 7.4374-5.7622 14.682-11.777 21.619-18.133 7.1461-6.5476 14.166-13.767 17.463-22.882 3.1964-8.8374 2.4667-19.016-1.9576-27.307"
              fill="none" stroke="#fff" stroke-width=".26458px"/>
        <path class="emotion__ways__three"
              d="m.4458 161.84c8.5076-9.7851 19.789-17.132 32.178-20.956 7.5586-2.333 15.735-3.3591 23.384-1.3445 3.3229.87512 6.4695 2.3005 9.6556 3.5872 3.1862 1.2867 6.4707 2.4497 9.8932 2.7572 3.6975.33223 7.4413-.35451 10.922-1.6451 3.4808-1.2906 6.7162-3.1722 9.782-5.2655 11.394-7.78 20.475-18.421 29.533-28.828 1.9704-2.264 3.9568-4.5332 6.2579-6.4602s4.9484-3.5129 7.8674-4.211c4.4588-1.0664 9.1311.0051 13.532 1.2891 4.4011 1.284 8.8528 2.8 13.434 2.6224 3.5017-.13572 6.8861-1.2596 10.156-2.5197 3.2699-1.2601 6.5032-2.674 9.9238-3.4352 7.6614-1.705 15.669-.02649 23.482-.77303 1.32-.12612 2.6334-.32158 3.9329-.58529"
              fill="none" stroke="#fff" stroke-width=".26458px"/>
        <path class="emotion__ways__four"
              d="m.067819 76.798c6.6956-3.9978 14.123-6.7656 21.802-8.1244 8.493-1.5028 17.306-1.2741 25.669.83501 3.4311.8653 6.7784 2.0408 10.214 2.888 3.4356.84719 7.0091 1.3638 10.514.87943 3.685-.50927 7.1409-2.1045 10.321-4.0347s6.136-4.2055 9.2478-6.244c5.1042-3.3438 10.67-6.0612 16.599-7.5045 5.9288-1.4434 12.24-1.5749 18.097.13849 3.1942.93452 6.2062 2.396 9.3311 3.541s6.4583 1.9805 9.7627 1.5842c3.7656-.45158 7.2002-2.4845 9.9704-5.0748 2.7701-2.5903 4.9573-5.7299 7.1176-8.8471 3.6355-5.2457 7.2579-10.502 11.014-15.661 2.8127-3.8635 5.7164-7.6911 9.1648-11 3.4483-3.3087 7.484-6.1004 12.033-7.5663 6.8808-2.2174 14.39-1.2718 21.463-2.7637 1.315-.27736 2.6123-.63873 3.8814-1.0812"
              fill="none" stroke="#fff" stroke-width=".26458px"/>
        <path class="emotion__ways__five"
              d="m1.5797 130.09c7.1726-4.9325 15.372-8.364 23.92-10.01 5.5732-1.0733 11.259-1.3928 16.917-1.8477 10.154-.81655 20.349-2.094 30.026-5.2762 9.4296-3.101 18.421-8.1304 24.917-15.636 2.4174-2.7931 4.4601-5.8898 6.8123-8.738s5.0842-5.4934 8.4456-7.0252c2.9827-1.3592 6.3207-1.7739 9.5982-1.7331 3.2775.04075 6.5314.51823 9.7907.86617 7.4976.8004 15.108.91357 22.551-.28994 6.0796-.98298 12.035-2.852 17.472-5.7445 6.64-3.5325 12.461-8.5539 19.373-11.518 6.3522-2.7241 13.49-3.5869 20.308-2.4549l1.535-.13971"
              fill="none" stroke="#fff" stroke-width=".26458px"/>
    </svg>
</div>
<div class="box">
    <div class="box__top">
        <div class="box__content"></div>
    </div>
    <div class="box__middle box__middle--larger">
        <div class="box__content">
            <div class="row header-row">
                <div class="col-12 col-md-6 col-lg-6 col-xl-6">
                    <h3 class="header__description">
                        <b>Olá</b>, esse é o seu ponto de partida no mapa de estratégias que vamos construir juntos.
                    </h3>
                    <div class="header__links">
                        <a href="#">Lorem.</a>
                        <a href="#">Lorem ipsum.</a>
                    </div>
                </div>
                <!--  offset-md-1 offset-lg-1 offset-xl-1 -->
                <div class="col-12 col-md-4 col-lg-4 col-xl-4">

                    <div class="egg">
                        <div class="egg__yolk"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="box__bottom">
        <div class="box__content">
            <%= require('html-loader!../partials/footer.ejs') %>
        </div>
    </div>
</div>
</body>
</html>
