<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Lato:100,300,400,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Chilanka|Parisienne&display=swap" rel="stylesheet">
    <% if (process.env.APP_ENV && process.env.APP_ENV === 'production') { %>
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async
                src="https://www.googletagmanager.com/gtag/js?id=<%= process.env.GOOGLE_ANALYTICS %>"></script>
        <script>
            window.dataLayer = window.dataLayer || [];

            function gtag() {
                dataLayer.push(arguments);
            }

            gtag('js', new Date());
            gtag('config', '<%= process.env.GOOGLE_ANALYTICS %>');
        </script>
    <% } %>

    <% if (process.env.APP_ENV && process.env.APP_ENV === 'production') { %>
        <!-- Hotjar Tracking Code for https://infocorpjr.com/ -->
        <script>
            (function (h, o, t, j, a, r) {
                h.hj = h.hj || function () {
                    (h.hj.q = h.hj.q || []).push(arguments)
                };
                h._hjSettings = {hjid:<%= process.env.HOTJAR %>, hjsv: 6};
                a = o.getElementsByTagName('head')[0];
                r = o.createElement('script');
                r.async = 1;
                r.src = t + h._hjSettings.hjid + j + h._hjSettings.hjsv;
                a.appendChild(r);
            })(window, document, 'https://static.hotjar.com/c/hotjar-', '.js?sv=');
        </script>
    <% } %>
</head>
<body>

<%= require('html-loader!../partials/navbar.ejs') %>

<div class="navigation">
    <ul class="navigation-wrapper">
        <li class="navigation-wrapper-item navigation-wrapper-item-planning-and-marketing">Planejamento</li>
        <li class="navigation-wrapper-item navigation-wrapper-item-marketing-management-and-advisory">Gestão</li>
    </ul>
</div>

<!-- Content -->
<div class="content">

    <section class="row" data-section="what-we-do">
        <div class="col-12 col-md-auto col-lg-auto col-xl-auto">
            <img class="content-brand" src="../../assets/svg/carte2.svg">
        </div>
        <div class="col-12 col-md col-lg col-xl">
            <h2 class="content-title">
                Serviços <small class="content-subtitle">O que fazemos.</small>
            </h2>
        </div>
    </section>

    <section class="row align-items-center">
        <div class="col-12 col-md-12 col-lg-6 col-xl-6">
            <div class="service" data-section="planning-and-marketing">
                <p class="service-title">Planejamento de Marketing</p>
                <div class="service-description">
                    Com o <b>Planejamento de Marketing</b> procuramos direções. Pesquisamos o mercado, o público, os
                    concorrentes e
                    desenhamos as estratégias adequadas para os objetivos da sua empresa.
                </div>
            </div>
            <div class="service" data-section="marketing-management-and-advisory">
                <p class="service-title">Gestão e Assessoria de Marketing</p>
                <div class="service-description">
                    Já com a <b>Gestão e Assessoria de Marketing</b> seguimos pelo melhor caminho. Cuidamos da
                    implementação das
                    ações para que todas as tarefas, antes planejadas, sejam realizadas de maneira eficiente.
                </div>
            </div>
            <div class="service" data-section="">
                <p class="service-footer">
                    Tudo de maneira personalizada, de um jeito transparente e que dá certo pro seu negócio.
                </p>
            </div>
        </div>
        <div class="col-12 col-md-12 col-lg-6 col-xl-6 dots">
            <img class="illustration" src="../../assets/svg/services.svg" alt="Carte Marketing" title="Carte Marketing">
        </div>
    </section>

    <footer class="footer" data-section="contact-us">
        Contate-nos
        <div class="footer__email">email@email.com</div>
        +55 65 99000-0000
    </footer>

</div>

</body>
</html>
